.plus {
	position: absolute;
	top: 540px;
	left: 180px;
	border-radius: 6px;
	background: black;
	color: white;
	cursor: pointer;
	border: 0;
	outline: none;
	width: 23px;
}
.photo-account {
	width: 100%;
}
.modal-open-chat {
  display: block;
  position: fixed;
  right: 80px;
  bottom: 0%;
	width: 350px;
	border-top-right-radius: 100px;
}
.ptoduct-card-title {
	margin-left: 550px;
  position: absolute;
  top: 40px;
}
.pagination {
  float: left;
  margin-left: 10px;
}
.card-availability {
	color: green;
  position: absolute;
  top: 80px;
  margin-left: 550px;
}
.card-no-availability {
	color: red;
  position: absolute;
  top: 80px;
  margin-left: 550px;
}
.card-price {
	margin-left: 850px;
  position: absolute;
  top: 80px;
}
.card-button {
	width: 475px;
  cursor: pointer;
  position: absolute;
	margin-top: -300px;
  margin-left: 535px;
}
.photo-product {
	width: 500px;
  height: 500px;
	cursor: pointer;
	display: block;
}
.photo-product-open {
	cursor: pointer;
	margin: 0 auto;
	z-index: 300;
	margin-bottom: -185px;
	max-width: 1000px;
	max-height: 700px;
}
.overlay {
position: absolute;
left: 0; right: 0; top: 0; bottom: 0;
background: black;
opacity: .7;
display: none;
z-index: 300;
cursor: pointer;
}

.popup {
position: absolute;
opacity: 1;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
display: none;
z-index: 300;
}
#exampleInputEmail1,
#exampleInputPassword1 {
	width: 1100px
}
.minus {
	position: absolute;
	top: 540px;
	left: 230px;
	border-radius: 6px;
	background: black;
	color: white;
	cursor: pointer;
	border: 0;
	outline: none;
	width: 23px;
}
.col-md-9 {
	float: left;
	margin-left: -100px;
}
.table-dark {
	margin-top: 30px;
}

#hint {
    position: relative; /* Относительное позиционирование */
   }
   #hint:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 15%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #e9ecef; /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }

#delivery {
	border: 1px solid #c6c8ca;
	width: 25%;
	height: 150px;
	background: #c6c8ca;
	padding: 20px;
	position: absolute;
	left: 970px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#breadcrumb,
#card-body {
	width: 1060px;
}
#products1 {
	margin-left: -100px;
}
#carousel {
	background: black;
	margin-left: -150px;
	width: 80px;
	height: 80px;
	margin-top: 150px
}
#carousel1 {
	background: black;
	margin-right: -150px;
	width: 80px;
	height: 80px;
	margin-top: 150px
}
#carouselExampleInterval {
	position: relative;
    left: 140px;
    top: 50px;
}
#total4 {
	outline: none;
	border: none;
	caret-color: transparent;
	cursor: default;
}

#total5 {
	outline: none;
	border: none;
	caret-color: transparent;
	cursor: default;
}
#formular {
    width: 310px;
    position: relative;
    left: 950px;
    top: -645px;
    background: #212529;
    color: white;
    margin-bottom: 1px;
}
#formular1 {
    width: 310px;
    position: relative;
    left: 950px;
    top: -650px;
    background: #32383f;
    color: white;
    margin-bottom: 1px;
    text-align: center;
}
#total5,
#total4,
#total3 {
	margin-left: 10px;
	width: 80px;
	margin-bottom: 10px;
}
#deliv {
	margin-bottom: 0px;
    text-align: center;
}
#deliv2 {
	margin-bottom: 0px;
}
